.platform p, .skills p {
  line-height: 1.7;
  color: var(--text-main);
  margin-top: 15px;
}

.flowBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}

.flow-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.flow-card:hover {
  transform: translateY(-5px);
}

.section-container h2 {
  text-align: left;
  margin-bottom: 20px;
  color: var(--dark-base);
}

.flow-card h4 {
  margin-bottom: 10px;
  color: var(--dark-mid);
}

.why {
  text-align: left;
}

.whyBox {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.why-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 220px;
  font-weight: 500;
  color: var(--dark-mid);
  transition: transform 0.3s ease;
}

.why-card:hover {
  transform: translateY(-5px);
  background-color: var(--primary);
  color: white;
}
